<ion-list>
  <ion-item>
    <ion-label>Bueno</ion-label>
    <ion-icon slot="start" name="square-sharp" color="greenMkc"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Moderado</ion-label>
    <ion-icon slot="start" name="square-sharp" color="yellowMkc"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>No saludable</ion-label>
    <ion-icon slot="start" name="square-sharp" color="orangeMkc"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Insalubre</ion-label>
    <ion-icon slot="start" name="square-sharp" color="roseMkc"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Muy insalubre </ion-label>
    <ion-icon slot="start" name="square-sharp" color="purpleMkc"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Peligroso</ion-label>
    <ion-icon slot="start" name="square-sharp" color="redDarkeMkc"></ion-icon>
  </ion-item>
</ion-list>