<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <ion-icon name="pin-sharp"></ion-icon>
      <ion-label>Estaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="list-sharp"></ion-icon>
      <ion-label>Leyenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <!-- <ion-icon name="ellipse"></ion-icon> -->
      <ion-icon name="call-sharp"></ion-icon>
      <ion-label>Contáctanos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>